/* Basic Styles for the Page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #ea2986;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #333;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #3daa46;
  }
  
  .order-summary {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for Flower Image Selection */
  #flowerSelection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  #flowerSelection label {
    text-align: center;
    cursor: pointer;
  }
  
  .flower-image {
    width: 70px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .flower-image-preview {
    text-align: center;
    margin-top: 20px;
  }
  
  .flower-image-preview img {
    width: 200px;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  